body {
  background-color: rgb(241, 197, 197);
}

.selected {
  background-color: grey;
}

.actionButton {
  margin-right: 10px;
  padding: 0 2px 0 2px;
}

.editUser {
  width: 60%;
}

.updateButton {
  margin-right: 10px;
}

.header {
  text-align: center;
  margin: 25px;
  font-family: Times New Roman, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.error-boundary{
  justify-content: center;
  text-align: center;
  font-family:'Arial Narrow Bold', sans-serif;
}